* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

@media(max-width: 1600px) {
    html {
        font-size: 65%;
    }
    img {
        top: 10rem;
    }
    .footer {
        top: 140rem;
    }
    .text {
        top: 35rem;
    }
    .footer {
        top: 70rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
    img {
        top: 10rem;
    }
    .footer {
        top: 75rem;
    }
    .text {
        top: 35rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 35%;
    }
    img {
        top: 45rem;
    }
    .footer {
        top: 120rem;
    }
    .text {
        top: 70rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 29%;
    }
    img {
        top: 45rem;
    }
    .footer {
        top: 140rem;
    }
    .text {
        top: 70rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 21%;
    }
    img {
        top: 45rem;
    }
    .text {
        top: 70rem;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    background: url('images/bg.jpg') no-repeat;
    justify-content: center;
}

img {
    position: absolute;
    animation: loop alternate 0.1s infinite;
    height: 25.0rem;
    width: 25.0rem;
    transform: translate(50%);
}

@keyframes loop {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.text {
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text h1 {
    font-weight: bolder;
    color: orangered;
    font-family: 'Bangers', cursive;
    font-size: 15.0rem;
    letter-spacing: 1.0rem;
}

.text h4 {
    color: orangered;
    font-family: 'Bangers', cursive;
    font-size: 6.0rem;
    letter-spacing: .2rem;
}

a {
    text-decoration: none;
}

#by a {
    text-decoration: none;
    color: orangered;
}

.footer {
    position: absolute;
    background-color: transparent;
    height: 5.0rem;
    width: 100vw;
}

button {
    margin-top: 3rem;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    transition: 0.5s;
    color: whitesmoke;
    background-image: linear-gradient(to right, orangered 0%, orange 51%, orangered 100%);
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 4.0rem;
    width: 30.5rem;
    height: 4.0rem;
}

button:hover {
    background-position: right center;
    transform: scale(1.1);
    transition: linear 0.25s;
}

#one:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 1s;
    color: rgb(29, 29, 29);
}

#one {
    cursor: pointer;
    animation: loads alternate-reverse 0.3s 0.1s infinite;
}

#copy {
    color: orangered;
    position: absolute;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0;
    top: 45%;
    left: 46.5%;
    font-size: 1.5rem;
}

#by {
    color: orangered;
    position: absolute;
    background-color: transparent;
    letter-spacing: 0;
    top: 45%;
    left: 3.0rem;
    font-size: 1.5rem;
}

i {
    background: transparent;
}

#fb {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 5.0rem;
    right: 15.0rem;
    font-size: 3rem;
}

#git {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 4.0rem;
    right: 11.5rem;
    font-size: 3rem;
}

#twitter {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 3.0rem;
    right: 8.0rem;
    font-size: 3rem;
}

#insta {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 2.0rem;
    right: 4.5rem;
    font-size: 3rem;
}

#link {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 1.0rem;
    right: 1.0rem;
    font-size: 3rem;
}

#fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
}

@keyframes loads {
    0% {
        opacity: 1;
        color: black;
        background-color: transparent;
    }
    100% {
        opacity: 1;
        background-color: whitesmoke;
    }
}