* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
    .container {
        height: 100vh;
        width: 100vw;
        background: url('images/bg.jpg') no-repeat;
        background-size: cover;
    }
    li {
        font-size: 40px;
        text-shadow: 2.5px 2.5px orange;
    }
    @keyframes load {
        0% {
            opacity: 1;
            color: #111;
            width: 160px;
            background-color: transparent;
        }
        100% {
            opacity: 1;
            width: 160px;
            background-color: orangered;
        }
    }
    .infoScience {
        top: 85px;
        left: 20px;
        height: 170px;
        width: 140px;
        border-radius: 5%;
    }
    .compScience {
        top: 85px;
        right: 20px;
        height: 170px;
        width: 160px;
        border-radius: 5%;
    }
    .mechanical {
        top: 285px;
        right: 20px;
        height: 170px;
        width: 160px;
        border-radius: 5%;
    }
    .civil {
        top: 285px;
        left: 20px;
        height: 170px;
        width: 160px;
        border-radius: 5%;
    }
    .electro {
        top: 490px;
        transform: translateX(50%, 50%);
        height: 170px;
        width: 160px;
        border-radius: 5%;
    }
    .container img {
        margin-top: 16px;
        border-radius: 5%;
        width: 148px;
        height: 115px;
        border: 2px solid orange;
    }
    .infoScience h1,
    .compScience h1,
    .civil h1,
    .mechanical h1,
    .electro h1 {
        margin-top: 8px;
        font-size: 14px;
        text-shadow: 2.5px 2.5px orange;
    }
    ul li:nth-child(1) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(2) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(3) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(4) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(5) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(6) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(7) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(8) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(9) {
        text-shadow: 5px 5px 3px orange;
    }
    .footer {
        top: 710px;
        height: 15px;
        width: 100vw;
    }
    #copy {
        font-size: xx-small;
        top: 15%;
        left: 43%;
    }
    #by {
        font-size: 6px;
        top: 10%;
        left: 10px;
    }
    #fb {
        font-size: 15px;
        margin-right: 50px;
        right: 50px;
    }
    #git {
        font-size: 15px;
        top: 0%;
        margin-right: 40px;
        right: 40px;
    }
    #twitter {
        font-size: 15px;
        top: 0%;
        margin-right: 30px;
        right: 30px;
    }
    #insta {
        font-size: 15px;
        top: 0%;
        margin-right: 20px;
        right: 20px;
    }
    #link {
        font-size: 15px;
        top: 0%;
        margin-right: 10px;
        right: 10px;
    }
}

@media only screen and (min-width: 394px) {
    .container {
        height: 100vh;
        width: 100vw;
        background-size: 1600px 800px;
        background: url('images/bg.jpg') no-repeat;
    }
    li {
        font-size: 80px;
        text-shadow: 5px 5px orange;
    }
    @keyframes load {
        0% {
            opacity: 1;
            color: #111;
            width: 320px;
            background-color: transparent;
        }
        100% {
            opacity: 1;
            width: 320px;
            background-color: orangered;
        }
    }
    .infoScience {
        top: 180px;
        left: 450px;
        height: 340px;
        width: 320px;
        border-radius: 5%;
    }
    .compScience {
        top: 180px;
        right: 450px;
        height: 340px;
        width: 320px;
        border-radius: 5%;
    }
    .mechanical {
        top: 570px;
        left: 270px;
        height: 340px;
        width: 320px;
        border-radius: 5%;
    }
    .civil {
        top: 570px;
        right: 270px;
        height: 340px;
        width: 320px;
        border-radius: 5%;
    }
    .electro {
        top: 570px;
        transform: translateX(50%, 50%);
        height: 340px;
        width: 320px;
        border-radius: 5%;
    }
    .container img {
        margin-top: 16px;
        border-radius: 5%;
        width: 300px;
        height: 250px;
        border: 2px solid orange;
    }
    .infoScience h1,
    .compScience h1,
    .civil h1,
    .mechanical h1,
    .electro h1 {
        margin-top: 15px;
        font-size: 28px;
        text-shadow: 5px 5px orange;
    }
     ::-webkit-scrollbar {
        width: 8px;
    }
     ::-webkit-scrollbar-thumb {
        animation: load alternate-reverse 0.1s infinite;
        background: linear-gradient(orange, orangered);
    }
     ::-webkit-scrollbar-thumb:hover {
        animation: load alternate-reverse 0.1s infinite;
        background: linear-gradient(orangered, orange);
    }
    ul li:nth-child(1) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(2) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(3) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(4) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(5) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(6) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(7) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(8) {
        text-shadow: 5px 5px 3px orange;
    }
    ul li:nth-child(9) {
        text-shadow: 5px 5px 3px orange;
    }
    .footer {
        bottom: -300px;
        margin-bottom: 40px;
        height: 50px;
        width: 100vw;
    }
    #copy {
        top: 45%;
        left: 46.5%;
    }
    #by {
        top: 45%;
        left: 30px;
    }
    #fb {
        top: 35%;
        margin-right: 50px;
        right: 150px;
    }
    #git {
        top: 35%;
        margin-right: 40px;
        right: 115px;
    }
    #twitter {
        top: 35%;
        margin-right: 30px;
        right: 80px;
    }
    #insta {
        top: 35%;
        margin-right: 20px;
        right: 45px;
    }
    #link {
        top: 35%;
        margin-right: 10px;
        right: 10px;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

li {
    display: inline;
    font-family: 'Shojumaru', cursive;
    color: orangered;
}

.infoScience:hover,
.compScience:hover,
.mechanical:hover,
.electro:hover,
.civil:hover {
    transform: scale(1.1);
    transition: ease-in-out 1s;
}

.infoScience img:hover,
.compScience img:hover,
.mechanical img:hover,
.electro img:hover,
.civil img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in-out 1s;
}

.infoScience h1:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: ease-in-out 1s;
}

.compScience h1:hover {
    cursor: pointer;
    transform: scale(1.45);
    transition: ease-in-out 1s;
}

.mechanical h1:hover {
    cursor: pointer;
    transform: scale(1.6);
    transition: ease-in-out 1s;
}

.electro h1:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: ease-in-out 1s;
}

.civil h1:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: ease-in-out 1s;
}

.infoScience {
    position: absolute;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: orangered;
    border: 1px solid orange;
    animation: load alternate-reverse 0.1s infinite;
}

.compScience {
    position: absolute;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: orangered;
    border: 1px solid orange;
    animation: load alternate-reverse 0.1s infinite;
}

.mechanical {
    position: absolute;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: orangered;
    border: 1px solid orange;
    animation: load alternate-reverse 0.1s infinite;
}

.civil {
    position: absolute;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: orangered;
    border: 1px solid orange;
    animation: load alternate-reverse 0.1s infinite;
}

.electro {
    position: absolute;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: orangered;
    border: 1px solid orange;
    animation: load alternate-reverse 0.1s infinite;
}

.infoScience h1,
.compScience h1,
.civil h1,
.mechanical h1,
.electro h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(29, 29, 29);
}

a {
    text-decoration: none;
}

#by a {
    text-decoration: none;
    color: orangered;
}

@keyframes move {
    0% {
        opacity: 0;
        color: orangered;
        width: auto;
    }
    100% {
        opacity: 1;
        color: transparent;
        width: auto;
    }
}

ul li:nth-child(1) {
    animation: move alternate-reverse 1s 0.3s;
    color: orangered;
}

ul li:nth-child(2) {
    animation: move alternate-reverse 1s 0.4s;
    color: orangered;
}

ul li:nth-child(3) {
    animation: move alternate-reverse 1s 0.5s;
    color: orangered;
}

ul li:nth-child(4) {
    animation: move alternate-reverse 1s 0.6s;
    color: orangered;
}

ul li:nth-child(5) {
    animation: move alternate-reverse 1s 0.7s;
    color: orangered;
}

ul li:nth-child(6) {
    animation: move alternate-reverse 1s 0.8s;
    color: orangered;
}

ul li:nth-child(7) {
    animation: move alternate-reverse 1s 0.9s;
    color: orangered;
}

ul li:nth-child(8) {
    animation: move alternate-reverse 1s 1.0s;
    color: orangered;
}

ul li:nth-child(9) {
    animation: move alternate-reverse 1s 1.1s;
    color: orangered;
}

.footer {
    position: absolute;
    background-color: transparent;
}

#copy {
    color: orangered;
    position: absolute;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0;
}

#by {
    color: orangered;
    position: absolute;
    background-color: transparent;
    letter-spacing: 0;
}

i {
    background: transparent;
}

#fb {
    position: absolute;
    color: orangered;
}

#git {
    position: absolute;
    color: orangered;
}

#twitter {
    position: absolute;
    color: orangered;
}

#insta {
    position: absolute;
    color: orangered;
}

#link {
    position: absolute;
    color: orangered;
}

#fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
}